<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
<link rel="shortcut icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon.ico">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
<link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg">
<link rel="manifest" href="/assets/favicon/site.webmanifest">



<meta name="google-site-verification" content="G3xc3nYc5RuEsdxKcaFAx9M-wRAQXJcRGxulpRhFaII" />
<!-- end custom head snippets -->
